/* Global */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Mono&family=Gurajada&family=Heebo:wght@100;200;300;400&family=Inter&family=Playfair+Display&family=Qwitcher+Grypen:wght@400;700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Work+Sans:wght@300&display=swap');

// colors
$colorBlue: #427dde;
$colorLight: #e6e6e6;
$colorDark: #404040;
$colorGrey: #9f9f9f;

// font sizes
$fontSizeXs: .7rem;
$fontSizeSm: .85rem;
$fontSizeMd: 1.1rem;
$fontSizeLg: 2rem;

// font families
$fontFamHeebo: 'Heebo', sans-serif;

body {
  background-color: $colorDark;
  font-size: $fontSizeSm;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar */
.nav {
  background-color: $colorGrey;
}

/* Library */

/* Song */
.song {
  font-family: $fontFamHeebo;
  color: $colorDark;

  .song-container {
    background-color: $colorGrey;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);

    .song-title, .song-artist {
      font-family: $fontFamHeebo;
      color: $colorDark;
      outline: none;
      border: none;
      background-color: transparent;
    }

    .song-title {
      font-size: $fontSizeLg;
      border-bottom: 2px solid transparent;
    }

    .song-artist {
      font-size: $fontSizeMd;
      border-bottom: 2px solid transparent;
    }

    .song-title:focus, .song-artist:focus {
      border-bottom: 2px solid $colorBlue;
      // width: 400px;
    }

    .song-textarea {
      width: 100%;
      height: 600px;
      box-sizing: border-box;
      background-color: $colorGrey;
      color: $colorDark;
      border: none;
      border-top-right-radius: 9px;
      border-top: 4px solid $colorBlue;
      border-right: 4px solid $colorBlue;
      resize: none;
      outline: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .song-table {
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      background-color: $colorGrey;
      border-top-right-radius: 9px;
      border-top: 4px solid $colorBlue;
      border-right: 4px solid $colorBlue;

      td {
        white-space: nowrap;
        padding: 0px;
        white-space: pre;
      }
    }

    .song-textarea::-webkit-scrollbar, .song-table::-webkit-scrollbar {
      display: none;
    }
  }

  .badge {
    font-size: $fontSizeXs;
    font-weight: unset;
    border: none;
    cursor: pointer;
  }

  .genre-modal, .chord-modal {
    .modal-content {
      background-color: $colorGrey;
    }
  
    .modal-header {
      border: none;
      padding-bottom: 0px;
    }

    .song-genre {
      font-family: $fontFamHeebo;
      color: $colorDark;
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $colorBlue;
    }

    .genre-submit {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  
    .bi {
      // font-size: $fontSizeLg;
      color: $colorBlue;
      cursor: pointer;
    }

    .chord {
      font-size: $fontSizeMd;
    }
  }

}
