/* Global */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Mono&family=Gurajada&family=Heebo:wght@100;200;300;400&family=Inter&family=Playfair+Display&family=Qwitcher+Grypen:wght@400;700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Work+Sans:wght@300&display=swap');

// colors
$colorBlue: #78A2CC;
$colorBlueOp50: #7aa3cd80;
$colorLight: #e6e6e6;
$colorDark: #404040;
$colorDarker: #212529;
$colorGrey: #6c757d;
$colorAccent: $colorBlue;
$colorAccentOp50: $colorBlueOp50;

// font sizes
$fontSizeXs: .7rem;
$fontSizeSm: .85rem;
$fontSizeMd: 1.1rem;
$fontSizeLg: 2rem;

// font families
$fontFamHeebo: 'Heebo', sans-serif;

body {
  // background-color: $colorDark;
  background-color: $colorDarker;
  color: $colorDarker;
  font-size: $fontSizeSm;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Globals */
.btn-outline-primary {
  color: $colorAccent;
  border-color: $colorAccent;
}
.btn-outline-primary:hover {
  color: $colorLight;
  background-color: $colorAccent;
  border-color: $colorAccent;
}

.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem $colorAccentOp50;
}

/* Navbar */
.navbar {
  font-family: $fontFamHeebo;
  color: $colorLight;
}

/* Library */
.library {
  font-family: $fontFamHeebo;

  .list-group-item {
    background-color: $colorGrey;
    cursor: pointer;
  }
}

/* Song */
.song {
  font-family: $fontFamHeebo;
  
  .song-container {
    background-color: $colorGrey;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);

    .badge {
      background-color: $colorAccent;
      color: $colorLight;
    }

    .song-title, .song-artist {
      font-family: $fontFamHeebo;
      color: $colorDarker;
      outline: none;
      border: none;
      background-color: transparent;
    }

    .song-title {
      font-size: $fontSizeLg;
      border: 2px solid transparent;
      border-radius: 5px;
    }

    .song-artist {
      font-size: $fontSizeMd;
      border: 2px solid transparent;
      border-radius: 5px;
    }

    .song-title:focus, .song-title:hover,
    .song-artist:focus, .song-artist:hover {
      border: 2px solid $colorAccent;
    }

    .song-textarea {
      width: 100%;
      height: 600px;
      box-sizing: border-box;
      background-color: $colorGrey;
      color: $colorDarker;
      border: none;
      border-radius: 9px;
      padding: 5px;
      resize: none;
      outline: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
      border: 1px solid $colorAccent;
    }

    .song-textarea:focus {
      border-color: $colorAccentOp50;
      box-shadow: 0 0 0 0.25rem $colorAccentOp50;
    }

    .song-table {
      // overflow: scroll;
      // -ms-overflow-style: none;
      // scrollbar-width: none;
      line-height: 15px;

      td {
        white-space: nowrap;
        white-space: pre;
      }
    }

    // .song-textarea::-webkit-scrollbar, .song-table::-webkit-scrollbar {
    //   display: none;
    // }

    .corner-btn {
      top: -6px;
      border: 1px solid $colorAccent;
      border-radius: 7px;
      line-height: 5px;
      background-color: $colorGrey;
    }

    .corner-btn:hover {
      color: $colorLight;
      background-color: $colorAccent;
      border-color: $colorAccent;
    }
  }

  .badge {
    font-size: $fontSizeXs;
    font-weight: unset;
    border: none;
    cursor: pointer;
  }

  .genre-modal, .chord-modal {
    .modal-content {
      background-color: $colorGrey;
    }
  
    .modal-header {
      border: none;
      padding-bottom: 0px;
    }

    .song-genre {
      font-family: $fontFamHeebo;
      color: $colorDark;
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $colorAccent;
    }

    .genre-submit {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  
    .bi {
      // font-size: $fontSizeLg;
      color: $colorAccent;
      cursor: pointer;
    }

    .chord {
      font-size: $fontSizeMd;
    }

    .chord-descriptor-input {
      border-color: $colorAccent;
      background-color: $colorGrey;
    }

    .chord-descriptor-input:focus {
      border-color: $colorAccentOp50;
      box-shadow: 0 0 0 0.25rem $colorAccentOp50;
    }

    .chord-base-text {
      width: 50%;
    }
  }

  /* Lyrics */
  .chord button {
    color: $colorDarker;
    padding: 0px;
    // padding-left: 2px;
    padding-right: 3px;
    border: 0px;
    background-color: transparent;
  }

  .chord button:hover {
    color: $colorAccent;
  }
}
